@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Satisfy&display=swap');

*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url("../img/fondobuzo2.jpg");
    font-family: 'Bree Serif', serif;
}
#logo{
    border: solid rgb(5, 5, 5);
    padding: 10px;
    font-size: 1.5em;
    position: fixed;
    text-transform: uppercase;
}
#grilla {
display: grid;
width: 90%;
padding: 100px;
margin: 1.6em auto;
gap: 1.5em;
grid-template-areas:
"header header"
"contenido publicidad"
"footer footer";

grid-template-columns: 50% 50%;
grid-template-rows: 100px 2fr 1fr;

}
header{
    grid-area: header;
}
footer{
    grid-area: footer;
}
main{
    grid-area: contenido;
}
aside{
    grid-area: publicidad;
}

header{
    text-align: center;
}

p{
    font-size: large;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ProductosContacto{
    background-color: rgb(243, 232, 128);
}
h3{
    color: rgb(0, 0, 0);
}
.instagram{
    color: blue;
}
.tiktok{
    color: brown;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
nav ul li{
    display: inline-block;
}
a{
    color: black;
    font-size: 40px;
}
